# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.so
*.egg
*.egg-info/
dist/
build/

# Файл истории (по желанию можно исключить, чтобы не хранить пароли в репозитории)
password_history.json